/* IE9 Template Styles & Fixes */

.loading {
  position: relative;
  height: 100%;
  width: 100%;
  background: url(../img/ieloader.png) center center no-repeat;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
}